@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

body {
  font-family: "PT Sans";
  background-color: #333;
}

Header {
  background-color: blue;
  margin: 1rem;
  padding: 1rem 2rem;
}

.box {
  background-color: aliceblue;
  text-align: center;
  height: 250px;
  width: 250px;
  margin: 1rem;
  box-shadow: 0 0 5px #333;
  display: flex;
  align-items: center;
  flex-direction: column;
}

footer {
  text-align: center;
  padding: 17rem;
}
